body{
    margin: 0;
    text-align: center;
    background: linear-gradient(rgb(205, 80, 255),rebeccapurple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#box1{
    margin: 0px;
    background: rgb(194, 57, 248);
    background-attachment: fixed;
}
#images{
    color: rebeccapurple;
}