*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient(rgb(205, 80, 255),rebeccapurple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage{
    position: relative;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(191, 43, 250);
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 35px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation ul li a .icon{
    position: relative;
    line-height: 20px;
    transition: 0.25s;
    font-size: 22.5px;
    color: black;
}
.navigation ul li:hover a .icon{
    font-size: 20px;
    color: rgb(70, 161, 167);
}
.navigation ul li a .text{
    position: absolute;
    font-size: 10;
    bottom: -12px;
    font-weight: 200;
    transition: 0.25s;
    transform: scale(0);
    color: rgb(70, 161, 167);
}
.navigation ul li:hover a .text{
    transform: scale(1);
}
.contact{
    top: 100px;
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul{
    display: flex;
}
.contact ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 35px;
}
.contact ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact ul li a .icon{
    position: relative;
    line-height: 40px;
    transition: 0.5s;
    font-size: 45px;
    color: black;
}
.contact ul li a .text{
    position: absolute;
    font-size: 10;
    bottom: -12px;
    font-weight: 200;
    transition: 0.25s;
    color: black;
}
.media{
    top: 100px;
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media ul{
    display: flex;
}
.media ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 35px;
}
.media ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.media ul li a .iconYT{
    position: relative;
    line-height: 40px;
    transition: 0.5s;
    font-size: 45px;
    color: red;
}
.media ul li a .iconTW{
    position: relative;
    line-height: 40px;
    transition: 0.5s;
    font-size: 45px;
    color: rebeccapurple;
}
.media ul li a .iconDC{
    position: relative;
    line-height: 40px;
    transition: 0.5s;
    font-size: 45px;
    color: blue;
}
.media ul li a .text{
    position: absolute;
    font-size: 10;
    bottom: -12px;
    font-weight: 200;
    transition: 0.25s;
    color: black;
}
.image{
    top: 100px;
    position: relative;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image ul{
    display: flex;
}
.image ul li{
    position: relative;
    list-style: none;
    width: 30px;
    height: 35px;
}
.image ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image2{
    top: 130px;
    position: relative;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2 ul{
    display: flex;
}
.image2 ul li{
    position: relative;
    list-style: none;
    width: 30px;
    height: 35px;
}
.image2 ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home{
    position: relative;
}
.home ul{
}
.home ul li{
    position: relative;
    list-style: none;
}
.home ul li .about{
    position: relative;
    color: rebeccapurple;
    list-style: none;
    top: 100px;
    left: 2.5%;
    width: 95%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: rgb(70, 161, 167);
    border-radius: 15px;
}
.home ul li .vid{
    position: relative;
    color: rebeccapurple;
    list-style: none;
    top: 125px;
    left: 2.5%;
    width: 95%;
    height: 450px;
    justify-content: center;
    align-items: center;
    background: rgb(70, 161, 167);
    border-radius: 15px;
}
.home ul li .vid .vids{
    position: relative;
    color: rebeccapurple;
    list-style: none;
    display: flex;
    flex-direction: row;
    top: 14%;
    left: 1%;
}y
.home ul li .bottom{
    position: relative;
    top: 125px;
    height: 50px;
}