*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(205, 80, 255),rebeccapurple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navigation{
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(191, 43, 250);
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 35px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation ul li a .icon{
    position: relative;
    line-height: 20px;
    transition: 0.25s;
    font-size: 22.5px;
    color: black;
}
.navigation ul li:hover a .icon{
    font-size: 20px;
    color: rgb(70, 161, 167);
}
.navigation ul li a .text{
    position: absolute;
    font-size: 10;
    bottom: -12px;
    font-weight: 200;
    transition: 0.25s;
    transform: scale(0);
    color: rgb(70, 161, 167);
}
.navigation ul li:hover a .text{
    transform: scale(1);
}
.contact{
    top: 100px;
    position: relative;
    height: 35px;
}
.contact ul{
    display: flex;
}
.contact ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 35px;
}
.contact ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact ul li a .icon{
    position: relative;
    line-height: 20px;
    transition: 0.5s;
    font-size: 20px;
    color: black;
}
.contact ul li a .text{
    position: absolute;
    font-size: 10;
    bottom: -12px;
    font-weight: 200;
    transition: 0.25s;
    color: black;
}